MONGO_URI=mongodb+srv://twilight503:Rip2nine@cluster0.kdhr6fs.mongodb.net/?retryWrites=true&w=majority
DB_NAME=test
COLLECTION_NAME=Clienti maro/rosu
APP_PASSWORD=GlobalEstate2003
SECRET_KEY=awefffffffff-asdfcva231dfas!2e24
