MONGO_URI=mongodb+srv://USER:PAROLA@cluster.mongodb.net/?retryWrites=true&w=majority
DB_NAME=test
COLLECTION_NAME=Clienti maro/rosu
APP_PASSWORD=alege-tu-parola-site
SECRET_KEY=pune-un-text-lung-random
