MONGO_URI=mongodb+srv://twilight503:Rip2nine@cluster0.kdhr6fs.mongodb.net/
DB_NAME=test
COLLECTION_NAME=Clienti maro/rosu
APP_PASSWORD=GlobalEstate2003
SECRET_KEY=3f8b2f9a-rotaru-sita-clienti-2026-super-secret
